body {
    background-image: linear-gradient(to right, #6d6dcc, #f2f2f2);
    width: 100vw;
    height: 100vh;
}

.centrar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.divClass>h1 {
    color: red;
}

img {
    width: 400px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: #f00;
    padding: 50px;
    border: 1px solid #000;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}